---
name: Release
on:
  workflow_run:
    workflows: ["ci"]
    branches: [main]
    types:
      - completed
permissions:
  contents: write
jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build project
        run: |
          make examples/plugin.wasm
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.75.0
        id: version
        env:
          GITHUB_TOKEN: ${{ github.token }}
          WITH_V: true
          DEFAULT_BUMP: patch
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          RELEASE_BRANCHES: main
      - name: Create release
        uses: softprops/action-gh-release@v2
        if: ${{ (steps.version.outputs.old_tag != steps.version.outputs.new_tag) }}
        with:
          tag_name: ${{ steps.version.outputs.new_tag }}
          name: Release ${{ steps.version.outputs.new_tag }}
          files: ./examples/plugin.wasm
          generate_release_notes: true
          make_latest: true
          fail_on_unmatched_files: true
          overwrite_files: false
